<div>
  <h2>アポ詳細</h2>
</div>
<div>
  <%= @apo.name %>
</div>
<div>
  <%= @apo.start_time %>
</div>
<div>
  <%= @apo.address %>
</div>
<div>
  <%= @apo.content %>
</div>
<div>
  <%= @apo.memo %>
</div>
<%= link_to "編集", edit_apo_path(@apo.id), class: "link" %>
<%= link_to "削除", apo_path(@apo.id), method: :delete, class: "link" %>