<h2>Company Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "companies/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name, autofocus: true, placeholder: "例）株式会社hogehoge" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Company Sign up" %>
  </div>
<% end %>

<%= render "companies/shared/links" %>
