<!DOCTYPE html>
<html>
  <head>
    <title>Co.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="inner">
        <li>Top</li>
        <li>Schedule</li>
        <li>MyPage</li>
        <li><%= link_to "SignUp", new_member_registration_path %></li>
        <li><%= link_to "Login", new_member_session_path %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
