<div>
  <h2>メンバー詳細</h2>
</div>
<div>
  <table>
    <tr bgcolor="lightgray">
      <td>id:</td><td><%= @member.id %></td>
    </tr>
    <tr>
      <td>image:</td><td><%= @member.image %></td>
    </tr>
    <tr bgcolor="lightgray">
      <td>name:</td><td><%= @member.name %></td>
    </tr>
    <tr>
      <td>department:</td><td><%= @member.department %></td>
    </tr>
    <tr bgcolor="lightgray">
      <td>status:</td><td><%= @member.status %></td>
    </tr>
    <tr>
      <td><%= link_to "編集", edit_member_path, class: "link" %></td>
    <tr>
  </table>
</div>